 body
{
    background-image: url("racunalo1.jpg");
    /*background-color za cijelu pozadinu u jednoj boji*/
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat
    text-align: justify
 /*tekst poravnati s obje strane*/
}
p{
 font-family: Verdana,Helvetica,sans-serif;
 /*sans-serif nije ukraseno, serif je ukraseni font*/
 font-size: 12px;
}

p.citat
{
  font-style: italic;
  font-size: 11px;
  border: 1px solid #000;
  background-color: #ffffcc;
}
p.drugi
{
  font-color: "firebrick";
  text-align: center;
  text-decoration: underline;
}
p.treci
{
  text-align: right;
}
